.movies-container {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 30px;
    
}
.moviesfull{

  background-color: rgb(243, 239, 239);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Three images per row, adjust to fit container */
    gap: 20px; /* Space between images */
}

.movie-image {
   
    border-radius: 10px; /* Border radius for images */
    cursor: pointer;
}





@media (min-width: 800px) {
    .gallery {
      grid-template-columns: repeat(3, minmax(0, 1fr)); /* Three images per row for screens wider than 800px */
    }
  }
  
  @media (max-width: 799px) and (min-width: 500px) {
    .gallery {
      grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two images per row for screens between 500px and 799px */
    }

    #images-on{

      width:250px;
      height: 300px;
    }
  }
  
  @media (max-width: 499px) {
    .gallery {
      grid-template-columns: repeat(1, minmax(0, 1fr)); /* One image per row for screens less than 500px */
    }

    #images-on{
 margin-right: 90px;
    }

    
  }
  .movie-title{

    font-size: larger;

    color: white;

    
  }