.slick-dots li button:before
{
 font-size: 10px;

}

.slick-slide>div {
    margin-left: 10px;
}

.slick-dots li.slick-active button:before {
    color: orange !important;
}


.slick-dots li button:before {
    color: orange !important;
    
}


